* {
    margin: 0;
    padding: 0;
}

.corpo {
    background-image: url("../../imagens/background2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
    padding: 0;
    overflow: hidden;
}

.col-2 .menu {
    background-color: black;
    width: 100%;
    height: 100vh;
}

.logo {
    width: 100%;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.itens {
    width: 100%;
    height: 13.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.itens img {
    margin-right: 5%;
}

.logo img {
    height: 18vh;
}

.col-2 .menu .itens:hover {
    background-color: #00EA83;
}

a {
    text-decoration: none; 
    color: inherit; 
    background: none; 
    border: none; 
    padding: 0; 
    margin: 0; 
  }

.itens.amigos {
    background-color: #00EA83;
}

.itens.alertas:hover img {
    content: url('../../imagens/alertas-b.svg'); 
}

.itens.desafios:hover img {
    content: url('../../imagens/desafios-b.svg'); 
}

.itens.ranking:hover img {
    content: url('../../imagens/ranking-b.svg'); 
}

.itens.regras:hover img {
    content: url('../../imagens/regras-b.svg'); 
}

.itens.sair:hover img {
    content: url('../../imagens/sair-b.svg'); 
}

.adicionar {
    height: 19vh;
}

.col-7.align-self-center .input{
    width: 75%;
    height: 8vh;
    background-color: transparent;
    border: 2px #00EA83 solid;
    color: #bbbbbb;
    font-weight: bold;
}

.input::placeholder {
    text-align: center;
}

.col-7.align-self-center button {
    width: 22%;
    height: 8vh;
    border: 2px #034435 solid;
    background-color: #034435;
}

#aviso {
    color: white;
    font-weight: bold;
}

.lista {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista .col-9 {
    display: flex;
}

.lamigos {
    width: 80%;
    height: 8vh;
    background-color: #00EA83;
    color: white;
    font-weight: bold;
}

.lamigos.small {
    width: 20%;
    height: 8vh;
    background-color: #00EA83;
    content: url('../../imagens/amigos-c.svg');
    display: flex;
    align-items: center;
    justify-content: center;
}

.lpendentes {
    width: 80%;
    height: 8vh;
    background-color: #034435;
    color: white;
    font-weight: bold;
}

.lpendentes.small {
    width: 20%;
    height: 8vh;
    background-color: #034435;
    content: url('../../imagens/adicionar.svg');
    display: flex;
    align-items: center;
    justify-content: center; 
}

.lamigos, .lpendentes {
    transition: all 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin-top: 3vh;
}

.usuarios {
    height: 65vh;
    overflow: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lista, .usuarios {
    width: 100%;
    background-color: rgba(30, 29, 29, 0.8);
}

.teste {
    height: 10vh;
    color: white;
}



