* {
    margin: 0;
    padding: 0;
}

.corpo {
    background-image: url("../../imagens/background2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
    padding: 0;
    overflow: hidden;
}

.col-2 .menu {
    background-color: black;
    width: 100%;
    height: 100vh;
}

.logo {
    width: 100%;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.itens {
    width: 100%;
    height: 13.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.itens img {
    margin-right: 5%;
}

.logo img {
    height: 18vh;
}

.col-2 .menu .itens:hover {
    background-color: #00EA83;
}

a {
    text-decoration: none; 
    color: inherit; 
    background: none; 
    border: none; 
    padding: 0; 
    margin: 0; 
  }

.itens.amigos:hover img {
    content: url('../../imagens/amigos-b.svg'); 
}

.itens.alertas:hover img {
    content: url('../../imagens/alertas-b.svg'); 
}

.itens.desafios:hover img {
    content: url('../../imagens/desafios-b.svg'); 
}

.itens.ranking:hover img {
    content: url('../../imagens/ranking-b.svg'); 
}

.itens.regras:hover img {
    content: url('../../imagens/regras-b.svg'); 
}

.itens.sair:hover img {
    content: url('../../imagens/sair-b.svg'); 
}

.itens.painel:hover img {
    content: url('../../imagens/painel-b.svg'); 
}

.modulo .col-6 {
    background-color: rgba(30, 29, 29, 0.8);
   text-align: center;
}

.titulo {
    color: #00EA83;
    font-size: 2ch;
    font-weight: bolder;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.nome1, .nome2 {
    background-color: transparent;
    border: 2px #00EA83 solid;
    width: 100%;
    height: 8vh;
    color: #bbbbbb;
    font-weight: bolder;
    margin-bottom: 2vh;
}

.nome1.invalid,
.nome2.invalid {
    background-color: transparent;
    border: 2px red solid;
    width: 100%;
    height: 8vh;
    color: #bbbbbb;
    font-weight: bolder;
    margin-bottom: 2vh;
}

.nome1::placeholder,
.descricao1::placeholder,
.nome2::placeholder,
.descricao2::placeholder {
    text-align: center;
}

.descricao1, .descricao2 {
    background-color: transparent;
    border: 2px #00EA83 solid;
    width: 100%;
    height: 16vh;
    color: #bbbbbb;
    font-weight: bolder;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.descricao1.invalid,
.descricao2.invalid {
    background-color: transparent;
    border: 2px red solid;
    width: 100%;
    height: 16vh;
    color: #bbbbbb;
    font-weight: bolder;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.descricao1::-webkit-scrollbar,
.descricao2::-webkit-scrollbar {
    width: 1px; 
    height: 1px; 
}

.adicionar, .editar {
    background-color: #00EA83;
    color: white;
    font-weight: bolder;
    width: 60%;
    height: 8vh;
    margin-bottom: 2vh;
}

.arquivo1, .arquivo2 {
    display: none;
}

.arquivo-label {
    display: inline-block;
    background-color: #034435; 
    color: white; 
    font-weight: bolder;
    width: 50%;
    border-radius: 1%;
    cursor: pointer;
    text-align: center;
}

.arquivo-label.invalid {
    display: inline-block;
    background-color: red; 
    color: white; 
    font-weight: bolder;
    width: 50%;
    border-radius: 1%;
    cursor: pointer;
    text-align: center;
}

.aviso {
    color: white;
    font-weight: bolder;
    text-align: center;
}

.foto  img{
    height: 20vh;
    max-width: 98%;
}